/* ::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar-thumb {
    border-radius: 0px;
} */

html,
body {
    height: 100%;
    font-size: 14px; !important;
}

main {
    margin-top: 0px;
}

#content-body {
    min-height: 0px;
}

.content-wrapper {
    flex: 1;
}
.d-flex-login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    min-height: 65px;
}
.navbar-collapse {
    z-index: 100;
}
.navbar-nav {
    background-color: #f8f9fa;
    width: fit-content;
    padding: 10px;
}


/* MENU SIDEBAR */
aside {
    min-width: 200px;
}

aside .nav-pills .nav-link {
    border-radius: 0;
    color:  #444444;
}

aside .nav-pills .nav-link:hover {
    background: rgba(0, 0, 0, 0.05);
}

aside .nav-pills .nav-link.active {
    background: rgba(0, 0, 0, 0.05);
    color: #b90000;
    border-left: 4px solid #b90000;
}

.site-login {
    max-width: 420px;
}

/*
* WALLET DASHBOARD
*
*/
.dash-balance {
    padding-top: 60px;
}

/* PULSANTI send e receive*/
.serv-item {
    width: 50%;
    font-size: 20px;
}
/* TABELLA TRANSAZIONI */
.transaction-card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.transaction-card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0px 0px 0px 0px;
}
.img-xxs {
    max-width: 50px;
}

.no-border {
    border: 0px transparent !important;
}

.table thead th {
  border-bottom: 2px solid transparent !important;
}
.table tr td {
  border-bottom: 1px solid transparent !important;
}
.table-98 {
    max-width: 98% !important;
    margin-top: -50px;
}

.animationTransaction  {
    animation: transactionAnimation 1.5s;
    animation-fill-mode: both
}
@keyframes transactionAnimation {
    from {
        transform:scale(0.7);
        opacity:0;
        /* background: #000; */
    }
    to {
        transform: scale(1);
        opacity:1;
        /* background: #002b36; */
    }
}

.animationBalanceIn {
    animation: balanceInAnimation 2s;
    animation-fill-mode: both
}


@keyframes balanceInAnimation {
    from {
        transform:scale(0.4);
        opacity:0;
    }
    to {
        transform: scale(1);
        opacity:1;
    }
}

.animationStar {
    animation: spin 1s linear;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(3600deg); }
}


.grid-view > .summary {
    color: white;
}

.bg-newtransaction {
    background-color: rgb(0 123 255 / 25%) !important;
}



/* INPUT FORM */
label {
    color: #ddd !important;
}
.card > .card-header > h4 {
    color: #eee;
}

/* WIZARD WALLET GENERATION */
#stepwizard_step3_save {
    display: none;
}

.wizard {
    position: inherit !important;
    background-color: inherit !important;
    top: -60px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: inherit;
    font-size: 14px;
}
.tab-content {
    margin-top: -40px;
}
.wizard > .nav-tabs {
    margin-top: 0px !important;
}
.wizard-inner {
    min-height: 104px;
}
@media( max-width : 585px ) {

    .wizard {
        width: 100%;
        height: auto !important;
    }

    .wizard li span.round-tab {
        font-size: inherit;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
}

/* PROFILE */

.profile-av > img {
    max-width: 40px;
    max-height: 40px;
}

.list-box .list-item {
    background-color: #ddd;
}

/* notifications */
.bg-secondary-light {
    background-color: #6c757d4d !important;
}

.notify-quantity {
    position: absolute;
    display: inline-block;
    top: -2px;
    right: -4px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    text-align: center;
    background: rgb(255, 75, 90);
    color: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    font-size: 10px;
}

/* FOOTER */
.footer {
    height: 60px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    color: #16394a;
    font-size: 0.8em;
}

/* POA PULSE BUTTON */
header .page-title {
    font-size: 14px;
    letter-spacing: 0px;
    z-index: -1;
}
.pulse-button{
  margin-top: 5px;
  margin-left: 20px;
}

.pulse-button {
  position: relative;
  display: block;
  width: 13px;
  height: 13px;
  border: none;
  background-color: #28a745;
  box-shadow: 0 0 0 0 rgba(76, 232, 61, 0.7);
 /* box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);*/
  border-radius: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.pulse-button:hover
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

.pulse-button-offline{
    background-color: red;
    box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);

}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(76, 232, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(76, 232, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(76, 232, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 15px rgba(76, 232, 61, 0);}}

/* pwa new version button */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: snackfadein 0.5s;
    animation: snackfadein 0.5s;
}

@-webkit-keyframes snackfadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes snackfadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
/* pwa new version button */
#wss_server {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#wss_server.show {
    visibility: visible;
    -webkit-animation: snackfadein 0.5s;
    animation: snackfadein 0.5s;
}

.auth-clients-holder{
    display: inline-block;
    vertical-align: top;
}

.auth-icon.telegram {
    background-image: url(images/telegram.jpg);
    /* width: 32px;
    height: 32px; */
}
