html,
body {
    height: 100%;
    font-size: 14px; !important;
}

main {
    /* flex: 1; */
    margin-top: 0px;
}
.content-wrapper {
    flex: 1;
}
.d-flex-login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    min-height: 65px;
}
.navbar-collapse {
    z-index: 100;
}
.navbar-nav {
    background-color: #f8f9fa;
    width: fit-content;
    padding: 10px;
}


/* MENU SIDEBAR */
aside {
    min-width: 200px;
}

aside .nav-pills .nav-link {
    border-radius: 0;
    color:  #444444;
}

aside .nav-pills .nav-link:hover {
    background: rgba(0, 0, 0, 0.05);
}

aside .nav-pills .nav-link.active {
    background: rgba(0, 0, 0, 0.05);
    color: #b90000;
    border-left: 4px solid #b90000;
}

.site-login {
    max-width: 420px;
}

/*
* WALLET DASHBOARD
*
*/

/* PULSANTI send e receive*/
.serv-item {
    width: 50%;
    font-size: 20px;
}
/* TABELLA TRANSAZIONI */
.transaction-card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.transaction-card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0px 0px 0px 0px;
}
.img-xxs {
    max-width: 50px;
}

.no-border {
    border: 0px transparent !important;
}

.table thead th {
  border-bottom: 2px solid transparent !important;
}
.table tr td {
  border-bottom: 1px solid transparent !important;
}
.table-96 {
    max-width: 96% !important;
}

.animationTransaction  {
    animation: transactionAnimation 1.5s;
    animation-fill-mode: both
}
@keyframes transactionAnimation {
    from {
        transform:scale(0.7);
        opacity:0;
        /* background: #000; */
    }
    to {
        transform: scale(1);
        opacity:1;
        /* background: #002b36; */
    }
}

.animationBalanceIn {
    animation: balanceInAnimation 2s;
    animation-fill-mode: both
}


@keyframes balanceInAnimation {
    from {
        transform:scale(0.4);
        opacity:0;
    }
    to {
        transform: scale(1);
        opacity:1;
    }
}

.animationStar {
    animation: spin 1s linear;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(3600deg); }
}


.grid-view > .summary {
    color: white;
}



/* INPUT FORM */
label {
    color: #ddd !important;
}
.card > .card-header > h4 {
    color: #eee;
}

/* WIZARD WALLET GENERATION */
#stepwizard_step3_save {
    display: none;
}

.wizard {
    position: inherit !important;
    background-color: inherit !important;
    top: -60px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: inherit;
    font-size: 14px;
}
.tab-content {
    margin-top: -40px;
}
.wizard > .nav-tabs {
    margin-top: 0px !important;
}
.wizard-inner {
    min-height: 104px;
}
@media( max-width : 585px ) {

    .wizard {
        width: 100%;
        height: auto !important;
    }

    .wizard li span.round-tab {
        font-size: inherit;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
}

/* PROFILE */

.profile-av > img {
    max-width: 40px;
    max-height: 40px;
}

/* FOOTER */
.footer {
    height: 60px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    color: #16394a;
    font-size: 0.8em;
}
