html,
body {
    height: 100%;
}

main {
    flex: 1;
    margin-top: 0px;
}
.content-wrapper {
    flex: 1;
}
.d-flex-login {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MENU SIDEBAR */
aside {
    min-width: 200px;
}

aside .nav-pills .nav-link {
    border-radius: 0;
    color:  #444444;
}

aside .nav-pills .nav-link:hover {
    background: rgba(0, 0, 0, 0.05);
}

aside .nav-pills .nav-link.active {
    background: rgba(0, 0, 0, 0.05);
    color: #b90000;
    border-left: 4px solid #b90000;
}

.site-login {
    max-width: 420px;
}

/*
* WALLET DASHBOARD
*
*/

/* PULSANTI send e receive*/
.serv-item {
    width: 50%;
    font-size: 20px;
}
/* TABELLA TRANSAZIONI */
.transaction-card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.transaction-card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0px 0px 0px 0px;
}
.img-xxs {
    max-width: 50px;
}
.table thead th {
  border-bottom: 2px solid transparent !important;
}


/* FOOTER */
.footer {
    height: 60px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    color: #16394a;
    font-size: 0.8em;
}
